.rounds__headingContainer {
  padding: 0.8rem 0 0 0;
}
.rounds__heading {
  font-size: 20px;
}
.rounds__textContainer {
  color: #fa04f6;
  margin: 0;
}
.rounds__text {
  text-align: end;
  padding-right: 0.8rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.rounds__linkContainer {
  margin-top: 1rem;
  margin-bottom: 0;
}
.rounds__link {
  color: #fa04f6;
  cursor: pointer;
  text-decoration: none;
}

.rounds__scrollBox {
  overflow-y: auto;
  overflow-x: hidden;
  height: 60vh;
}
.rounds--noMargin {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .rounds__headingContainer {
    margin-bottom: 0.5rem;
  }
  .rounds__scrollBox {
    height: 65vh;
  }
  .rounds__text {
    font-size: 11px;
    padding-right: 0.2rem;
    margin-bottom: 0.3rem;
  }
  .rounds__heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .rounds__headingContainer {
    padding: 0.2rem 0 0.3rem 0;
  }
  .rounds__text {
    font-size: 10px;
    padding-right: 0.4rem;
  }
  .rounds__heading {
    font-size: 14px;
  }
}
