.headingWrapper {
  padding: 1rem 0 0 0;
}
.textWrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  padding: 0;
  margin-top: 0;
}
.alignBottom {
  align-self: flex-end;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}
.paraStyle {
  color: #fa04f6;
  cursor: pointer;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  width: 100%;
}
.btnWidth {
  width: 48%;
}
.playerContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 42vh;
}
.wldStyle {
  margin: 0;
  color: #fa04f6;
}
.marginBottom {
  margin-bottom: 0.1rem;
}
.zeroMargin {
  margin: 0;
}
.secondaryColor {
  color: #fa04f6;
}

.scoring {
  display: flex;
  flex-direction: row;
}

.oneRemLeft {
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  .btnContainer {
    margin-top: 1rem;
  }
  .btnWidth {
    width: 49%;
  }
}
@media screen and (max-width: 375px) {
  .textWrapper {
    margin-right: 30px;
  }
  .wldStyle {
    font-size: 10px;
  }
  .btnContainer {
    margin-top: 0.8rem;
  }
}
