.timer__container {
  display: flex;
  flex-direction: column;
}
.timer__startText {
  cursor: pointer;
  color: #fa04f6;
}
.timer__totalTime {
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-align: center;
}
.timer--noMargin {
  margin: 0;
}
