.header {
  color: black;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 24px;
    }
  }
