.success {
  background-color: green;
}

.danger {
  background-color: red;
}

.todoContainer {
  margin: 0.3rem;
  border: 2px solid black;
  color: white;
}

.user {
  display: flex;
  flex-direction: row;
}
