.headingWrapper {
  padding: 1rem 0 0 0;
}
.textContainer {
  color: #fa04f6;
  margin: 0;
}
.paraContainer {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0;
}
.paraStyle {
  color: #fa04f6;
  cursor: pointer;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  width: 100%;
}
.buttonWidth {
  width: 48%;
}
.scoreContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 42vh;
}
.wld {
  text-align: end;
  padding-right: 0.3rem;
}
.ptsStyle {
  padding-left: 0.3rem;
}
.noMargin {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .ptsStyle {
    padding-left: 0;
  }
  .buttonContainer {
    margin-top: 1rem;
  }
  .buttonWidth {
    width: 49%;
  }
}
@media screen and (max-width: 375px) {
  .wld {
    padding-right: 0;
    font-size: 10px;
  }
  .ptsStyle {
    font-size: 10px;
  }
  .buttonContainer {
    margin-top: 0.8rem;
  }
}
