*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  background-image: url("../src/Assets/images/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  min-height: 90%;
  width: 90%;
  border-radius: 20px;
  margin: 0;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.137),
    rgba(255, 255, 255, 0.055)
  );
  backdrop-filter: blur(1rem);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
