.container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 16px;
  }
}
