.outputBarContainer {
  background-color: rgba(56, 44, 89, 0.9);
  border-radius: 0.5rem;
  color: white;
  margin: 0 0 1rem 0;
  padding: 0.5rem 1rem;
}

.names {
  margin: 0;
  letter-spacing: 0.7px;
}

.matchHistoryContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.totalScore {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .outputBarContainer {
    font-size: 10px;
    padding: 0.4rem 0.5rem;
  }
}
