.outputBarContainer {
  background-color: rgba(56, 44, 89, 0.9);
  border-radius: 1.5rem;
  color: white;
  padding: 0rem 0rem 0rem 1rem;
  margin: 1rem;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.names {
  font-family: "Metamorphous";
  text-shadow: 2px 1px black;
}
