.primaryBtn {
  background: linear-gradient(180deg, #FA00FF 0%, #FF7A00 100%);
  border-radius: 10px;
  border:none;
  padding: 16px 32px;
  font-size: large;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transform-origin: 50% 50%;
  transition: transform 200ms ease, background-color 150ms ease;
}
.primaryBtn:active {
  transform: scale(0.97);
}
.primaryBtn:disabled {
  cursor: not-allowed;
  color: lightgray;
  background: #2c2247;
  opacity: 0.5;
}
.primaryBtn--small {
  padding: 6px 6px;
  border-radius: 4px;
  font-weight: 400;
  font-size: small;
}

@media screen and (max-width: 600px) {
  .primaryBtn {
    padding: 16px 16px;
    font-size: medium;
    font-weight: 500;
  }
  .primaryBtn--small {
    font-size: small;
    padding: 5px 6px;
  }
}
